policy_module(gravity, 5.5.0)

require {
	type unconfined_t;
	role unconfined_r;
	class process transition;
}

########################################
#
# Declarations
#

type gravity_t;
type gravity_exec_t;
init_daemon_domain(gravity_t, gravity_exec_t)

# TODO: remove once the policy has been tested and proven to work
permissive gravity_t;

type gravity_state_t;
files_type(gravity_state_t)

# gravity log files
type gravity_log_t;
logging_log_file(gravity_log_t)

########################################
#
# gravity local policy
#
allow gravity_t self:fifo_file rw_fifo_file_perms;
allow gravity_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(gravity_t, gravity_log_t, gravity_log_t)
append_files_pattern(gravity_t, gravity_log_t, gravity_log_t)
create_files_pattern(gravity_t, gravity_log_t, gravity_log_t)
setattr_files_pattern(gravity_t, gravity_log_t, gravity_log_t)
logging_log_filetrans(gravity_t, gravity_log_t, {dir, file})

manage_dirs_pattern(gravity_t, gravity_state_t, gravity_state_t)
manage_files_pattern(gravity_t, gravity_state_t, gravity_state_t)
manage_lnk_files_pattern(gravity_t, gravity_state_t, gravity_state_t)
files_var_lib_filetrans(gravity_t, gravity_state_t, { dir file lnk_file })

domain_use_interactive_fds(gravity_t)

files_read_etc_files(gravity_t)

auth_use_nsswitch(gravity_t)

miscfiles_read_localization(gravity_t)

sysnet_dns_name_resolve(gravity_t)

domain_auto_trans(unconfined_t, gravity_exec_t, gravity_t)
# Enable unconfined_r role access to gravity_t domain
role unconfined_r types gravity_t;
# FIXME(dmitri): figure out whether this is really necessary
#allow unconfined_t gravity_exec_t:file { ioctl read getattr map execute execute_no_trans open entrypoint };
#allow unconfined_t gravity_exec_t:file { entrypoint };
#allow unconfined_t gravity_exec_t:process { transition };
